/*layout*/
html {position: relative;height: auto;min-height: 100%;}
html, body {margin: 0;padding: 0;}
body {position: absolute;left: 0px;top: 0px;width: auto;min-width: 100%;height: auto;min-height: 100%;}
#mainTbl {position: relative;margin: 0;width: 100%;height: 100%;border-collapse: collapse;}
#mainTd {vertical-align: top;padding: 0;}
footer {position: absolute;left: 0px;bottom: 0;width: 100%;overflow: hidden;}

/*высота подвала устанавливается в footer и дублируется в нижнем паддинге #mainBox */
footer {height: 30px;}
#mainBox {padding-bottom: 30px;}

/*минимальная ширина (для резиновой верстки)*/
/*#minW {width: 800px;}*/
/*td>footer {min-width: 800px;}*/

/*постоянная ширина (для НЕ резиновой верстки)*/
*.fixW {margin:0 auto;width: 800px;}
td>footer {min-width: 800px;}

/*style*/
header {border: 1px dashed #999;border-width: 0 1px 1px;}
header div.pad {padding: 1em;}
header h4 {margin: 0;font-size: 18px;}
body.first header h4 {font-size: 32px;}

footer div.pad {padding: 6px 1em;border: 1px dashed #999;border-width: 1px 1px 0;}
footer p {margin: 0;}
footer p small {font-size: 12px;}

#contents div.col {float: left;}
#contents div.colL {padding: 10px 10px 10px 0;width: 600px;}
#contents div.colR {padding: 10px 0 10px 10px;width: 180px;}
#contents div.colR div.pad {padding: 1em;border: 1px dashed #999;}
