form.adminForm p button {margin: 0 5px;height: 26px;padding: 7px 18px;
form.adminForm p button.icon {padding-left: 0;}
form.adminForm p button.icon span.icon {position: relative;left: 3px;top: -7px;float: left;display: block;width: 39px;height: 26px;background-repeat: no-repeat;background-position: center;}
